@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@700,400,200&display=swap');

body{
  background-color: #242d38 !important;
}

h1{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-weight: 700 !important;
  color: #f2f2f2 !important;
}

h2{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-weight: 400 !important;
  color: #f2f2f2 !important;
}

.intro-header{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-weight: 200 !important;
  color: #f2f2f2 !important;
}
