@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,600,400,200&f[]=general-sans@201,400,600&display=swap');

body{
  background-color: #242d38 !important;
}

.page-subheading{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-size: 1.85rem;
  font-weight: 200 !important;
  color: #f2f2f2 !important;
}

h1{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-size: 5.6rem;
  font-weight: 800 !important;
  color: #f2f2f2 !important;
}

h2{
  font-family: 'Cabinet Grotesk', sans-serif !important;
  font-size: 2.6rem;
  font-weight: 400 !important;
  color: #f2f2f2 !important;
}

h3{
  font-family: 'General Sans', sans-serif !important;
  font-size: 1.6rem;
  font-weight: 201 !important;
  font-style: italic;
  color: #f2f2f2 !important;
}

.post-entry{
  font-family: 'General Sans', sans-serif !important;
  font-size: 1.3rem;
  font-weight: 400 !important;
  color: #f2f2f2 !important;
}

.post-read-more{
  font-family: 'General Sans', sans-serif !important;
  font-size: 1.3rem;
  font-weight: 600 !important;
  color: #f2f2f2 !important;
}
